h1{
color: black;
font-size: 2rem;
font-family: 'Red Hat Display', sans-serif;
margin-bottom: 50px;
margin: 50px;
}
body{
  font-family: 'Red Hat Display', sans-serif;
}

.input{
  border: 2px solid #d63447;
  color: grey;
  font-size: 16px;
  border-radius:10px;
  width:230px;
  padding:10px;
}


.btn{
  border: 2px solid #d63447;
  color: #d63447;
  font-family: 'Red Hat Display', sans-serif;
  background-color:#ffebeb;
  margin-left: 20px;
  font-size: 16px;
  border-radius:10px;
  width:100px;
  padding:10px;
}

.btn:hover{
  background-color: #d63447;
  color: white;

}

.remove {
  color: #d63447;
  font-size: 16px;
  margin-left: 600px;
}

td {
  box-shadow:2px 2px 2px 2px #d3d6db;
  font-size: 1.3rem;
  border-radius:10px;
  width:500px;
  padding:15px;
  text-align: center;
}


.entry {
  margin: 50px;
}


table {
  border-spacing: 50px;
}
